@using Entities
@model List<Category>

@foreach (var category in Model)
{
    <div style="display:flex; flex-direction:row;">
        <h2 style="color:black">@category.Title</h2>
        <a style="margin:0.5rem;" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.Id"><button>Delete</button></a>
        <a style="margin:0.5rem;" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@category.Id"><button>Update</button></a>
        <a style="margin:0.5rem;" asp-controller="SubCategory" asp-action="CreateSubCategory" asp-route-id="@category.Id"><button>Create Subcategory for this Category</button></a>
    </div>
}

@* <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="CreateCategory">Create Category</a>
<a class="nav-link text-dark" asp-area="" asp-controller="SubCategory" asp-action="CreateSubCategory">Create SubCategory</a> *@