@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display:flex; flex-direction:column; margin:5px;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="CategoryAdmin"><input type="button" value="Admin Category" style=""></input></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="SubCategory" asp-action="SubCategoryAdmin"><input type="button" value="Admin SubCategory"></input></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="ViewReports"><input type="button" value="Admin Reports"></input></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RoleAdmin"><input type="button" value="Check/Change Roles"></input></a>
</div>
